<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home" routerLinkActive="tab-active" routerDirection="root">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button class="center-button" (click)="openAddMenuModal()">
      <ion-icon name="add-circle" class="center-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="daftar-menu" routerLink="/daftar-menu" routerLinkActive="tab-active" routerDirection="root">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Daftar Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>